# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# FVM Version Cache
.fvm/

# Android Studio / IntelliJ IDEA
*.iml
.idea/
local.properties
/captures
.externalNativeBuild

# Android Build
/build
*.hprof

# macOS
.DS_Store

# Java
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
bin/
.gradle
.gradletasknamecache
gradle-app.setting
/gradle/wrapper/gradle-wrapper.jar
gradlew.bat
gradlew

# Visual Studio Code
.vscode/
.code-workspace

# Android Studio will place build artifacts here
app/debug
app/profile
app/release

# Logs
*.log